<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="/styles.css")
        title Continuous integration
    body
        a(href="/")
            h1 Home

        h2= `build #${build.id}`
        ul
            li
                b= 'commit: '
                = build.commitHash
            li 
                b= 'status: '
                = build.status
            li
                b= 'start date: '
                = new Date(build.startDate)
            li
                b= 'end date: '
                = new Date(build.endDate)
            li
                b= 'stdout: '
                = build.stdout
            li
                b= 'stderr: '
                = build.stderr
            li
                b= 'exit code: '
                = build.code

